<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wdc.ms">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.wdc.app.MsApp"
        >
        <activity
            android:name="com.example.wdc.ui.activity.MainActivity"
            >
        </activity>

        <activity android:name="com.example.wdc.ui.activity.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.wdc.ui.activity.NewsDetailsActivity"
            android:hardwareAccelerated="true"
            android:process=":webview"
            ></activity>

        <service android:name="com.example.wdc.service.WebViewService"
            android:process=":webview"
            ></service>

        <activity android:name="com.example.wdc.ui.activity.ImageDetailActivity"
            android:theme="@style/DefaultTheme.ImageDetailTheme"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name="com.example.wdc.ui.activity.TestActivity"/>

    </application>

</manifest>